@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/logo.css");
@import url("components/navbar.css");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900");

body {
  font-family: 'Raleway' , sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none
}
